<!DOCTYPE html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="style.css">
  <script src="ajust.js"></script>
  <!-- type="text/css"-->
</head>


<div class='brand'>
  <a href='https://www.inatel.br' target='_blank'>
    <img src='https://image.flaticon.com/icons/svg/214/214343.svg'>
  </a>
</div>
<div class='login'>
  <div class='login_title'>
    <span>Entre com sua conta</span>
  </div>
  <div class='login_fields'>
    <div class='login_fields__user'>
      <div class='icon'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
      </div>
      <input placeholder='Username' type='text'>
        <div class='validation'>
          <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
        </div>
      </input>
    </div>
    <div class='login_fields__password'>
      <div class='icon'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
      </div>
      <input placeholder='Password' type='password'>
      <div class='validation'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
      </div>
    </div>
    <div class='login_fields__submit'>
      <input type='submit' value='Log In'>
      <div class='forgot'>
        <a href='#'>Forgotten password?</a>
      </div>
    </div>
  </div>
  <div class='success'>
    <h2>Authentication Success</h2>
    <p>Welcome back</p>
  </div>
  <div class='disclaimer'>
    <p>Sistema de gerenciamendo de credênciais com criptografia de ponta-a-ponta para uma melhor segurança da privavicade do usuário</p>
  </div>
</div>
<div class='authent'>
  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
  <p>Authenticating...</p>
</div>
<div class='love'>
  <p>Made by <a href='https://www.rpscompany.com.br' target='_blank'> Ruan Patrick e Pedro Polez </a></p>
</div>
